#main {
  min-height: 100svh;
  color: white;
}

.font-en {
  font-family: "roc-grotesk", "SUIT Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0;
}

p {
  line-height: 1.4;
}

.overflow-hidden {
  overflow: hidden;
}

/* main-section */
.main-section {
  --color: #333333;
  --bg: #ffffff;
  --cta-color: #ffffff;
  --cta-bg-color: #0a31a8;
  color: var(--color);
  background: var(--bg);
}

.main-section[data-theme="dark"] {
  --color: #ffffff;
  --bg: #333333;
  --cta-color: #000000;
  --cta-bg-color: #ffffff;
}

.main-section .main-section-inner {
  position: relative;
}

.main-section .__grid {
  display: grid;
  grid-template-columns: 1fr 56.1381074169%;
  gap: min(2.5vw, 64px);
  justify-content: space-between;
}

.main-section .__grid .__sticky {
  position: sticky;
  top: var(--pt, 10rem);
  height: calc(
    100svh - var(--pt, 8.8888888889rem) - var(--pb, 5.5555555556rem)
  );
  display: flex;
  flex-direction: column;
}

.main-section .__py {
  --pt: 8.8888888889rem;
  --pb: 5.5555555556rem;
  padding: var(--pt, 8.8888888889rem) 0 var(--pb, 5.5555555556rem);
}

.main-section .__bg {
  position: absolute;
  background: 50% 50% no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-section .__heading {
  word-break: keep-all;
}

.main-section .__heading .__title {
  font-weight: 700;
  overflow: hidden;
  clip-path: inset(0);
  position: relative;
  font-size: 2.2222222222rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.main-section .__heading .__title span {
  display: flex;
  align-items: center;
  gap: 0.4375em;
  margin-bottom: 0.3125em;
  will-change: transform;
}

.main-section .__heading .__title span:before {
  width: 0.625em;
  aspect-ratio: 1 / 1;
  content: "";
  background: #0a31a8;
  border-radius: 50%;
}

.main-section .__heading .__desc {
  will-change: transform;
  font-weight: 800;
  font-size: 3.5555555556rem;
  line-height: 1.3em;
  letter-spacing: -0.02em;
}

/* container */
.container {
  padding: 0 3.5555555556rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.container .__boxed {
  max-width: 2086px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.container .__boxed.__lg {
  max-width: 86.8888888889rem;
}

/* mainKV */
#mainKV {
  position: relative;
  z-index: 2;
  isolation: isolate;
  background: transparent;
  min-height: calc(100vh + 3.5555555556rem);
  min-height: calc(100lvh + 3.5555555556rem);
  min-height: 100vh;
  min-height: 100lvh;
}

#mainKV .visual .__bg {
  height: calc(100vh + 3.5555555556rem);
  height: calc(100lvh + 3.5555555556rem);
  height: 100vh;
  height: 100lvh;
  width: 100%;
  overflow: hidden;
  background: #0a31a8;
  isolation: isolate;
  will-change: clip-path, transform, border-radius;
}

#mainKV .visual .__img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  height: 100lvh;
  display: block;
  object-fit: cover;
  will-change: clip-path, transform;
}

#mainKV .visual .__canvas {
  display: block;
  background: transparent;
  width: 100%;
  height: 100%;
  display: none;
}

@media screen and (min-width: 1025px) {
  #mainKV .__grid {
    grid-template-columns: 1fr 50%;
  }
}

#mainKV .__py {
  --pt: 6.1111111111rem;
}

@media screen and (min-width: 1025px) {
  #mainKV .__grid .__sticky {
    display: grid;
    align-items: center;
  }
}

#mainKV .__kv-title {
  font-size: 5.3333333333rem;
  max-width: 3.6545454545em;
  display: flex;
  flex-direction: column;
  gap: 0.7291666667em;
}

#mainKV .__kv-title h1 {
  font-weight: 800;
  letter-spacing: -0.02em;
  line-height: 1.1;
  text-transform: capitalize;
}

#mainKV .__kv-title .__video-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 22.2222222222rem;
  gap: 16px;
}

#mainKV .__kv-title .__video-controller .__progress-bar {
  position: relative;
  border-radius: 4px;
  height: 8px;
  background: rgba(255, 255, 255, 0.2);
  flex: 1;
  overflow: hidden;
  isolation: isolate;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#mainKV .__kv-title .__video-controller .__toggle-play {
  width: 34px;
  min-width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2) url(./assets/img/icon/play.svg) 50% 50%
    no-repeat;
  background-size: contain;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#mainKV .__kv-title .__video-controller .__toggle-play.playing {
  background-image: url(./assets/img/icon/pause.svg);
}

/* widget */
#mainKV .__widgets {
  display: grid;
  grid-template-columns: 1.38235294fr 1fr;
  gap: 0.8888888889rem;
}

@media screen and (min-width: 1025px) {
  #mainKV .__widgets {
    max-width: 36.8888888889rem;
    margin-left: auto;
  }
}

#mainKV .__widgets .__col {
  display: grid;
  gap: 0.8888888889rem;
}

#mainKV .__widget {
  border-radius: clamp(2rem, 2.2917vw, 5.5rem);
  background: rgba(0, 19, 74, 0.48);
  padding: 1.5555555556rem;
  overflow: hidden;
  isolation: isolate;
  position: relative;
  backdrop-filter: blur(1.6666666667rem);
  -webkit-backdrop-filter: blur(1.6666666667rem);
  display: flex;
  flex-direction: column;
}

#mainKV .__widget .__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: hard-light;
  z-index: -1;
  border-radius: clamp(2rem, 2.2917vw, 5.5rem);
  overflow: hidden;
  isolation: isolate;
}

#mainKV .__widget .__bg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.01);
}

#mainKV .__widget.__light {
  color: #333333;
}

#mainKV .__widget.__light .__widget-header h2:before {
  background: #0a31a8;
}

#mainKV .__widget .__widget-header {
  margin-bottom: 1.3333333333rem;
}

#mainKV .__widget .__widget-header h2 {
  font-size: 1.11111111rem;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

#mainKV .__widget .__widget-header h2:before {
  content: "";
  display: block;
  width: 0.6em;
  height: 0.6em;
  background: #fff;
  border-radius: 50%;
}

#mainKV .__widget .__widget-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#mainKV .__widget .__widget-body h3 {
  font-size: 1.33333333rem;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

#mainKV .__widget.__result {
  background: rgba(25, 228, 238, 0.4);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

#mainKV .__widget .__widget-header h2 {
  font-size: 1.11111111rem;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

#mainKV .__widget hr {
  height: 1px;
  border: 0;
  background: rgba(255, 255, 255, 0.24);
  margin: 0.6666666667rem 0;
}

/* report */
#mainKV .__report .__bg {
  background: rgba(22, 75, 232, 0.8);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

#mainKV .__report .__bg img {
  mix-blend-mode: soft-light;
  @media screen and (min-width: 1025px) {
    #mainKV .__grid .__right {
      display: flex;
      align-items: center;
    }
  }
}

#mainKV .__report .__actions {
  display: flex;
  gap: 0.4444444444rem;
}

@media (hover: hover) and (pointer: fine) {
  #mainKV .__report .__actions a {
    transition: background-color 200ms, color 200ms;
  }
}

#mainKV .__report .__actions a {
  border-radius: 50%;
  display: block;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

#mainKV .__report .__actions a svg,
#mainKV .__report .__actions a img {
  display: block;
  width: 2rem;
  height: 2rem;
}

#mainKV .__report .__bg {
  background: rgba(22, 75, 232, 0.8);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

/* result */
#mainKV .__result ul li .__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}

#mainKV .__result ul li + li {
  margin-top: 0.8333333333rem;
}

#mainKV .__result ul li .__actions i {
  border-radius: 50%;
  display: block;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 200ms, color 200ms;
}

/* stock-info */
#mainKV .__stock-info {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

#mainKV .__stock-info .__stock .__jb dt {
  margin-bottom: 0.75em;
}

#mainKV .__stock-info .__stock dl dt {
  font-size: 0.7222222222rem;
  line-height: 1.4;
  font-weight: 800;
}

#mainKV .__stock-info .__stock dl dd {
  font-size: 0.8333333333rem;
  font-weight: 800;
  text-align: right;
}

#mainKV .__stock-info .__stock dl dd .__price {
  letter-spacing: -0.06em;
  display: flex;
  align-items: center;
  gap: 0.4em;
  justify-content: flex-end;
}

#mainKV .__stock-info .__stock .__jb .__price strong {
  font-size: 2.667rem;
  letter-spacing: -0.06em;
}

#mainKV .__stock-info .__stock .__jb .__price small {
  font-size: 1.11111111rem;
  transform: translateY(40%);
}

#mainKV .__stock-info .__stock dl dd .__changed {
  font-size: 0.7777777778rem;
  margin-top: 0.4285714286em;
  line-height: 1.4;
  display: flex;
  gap: 0.4285714286em;
  font-weight: 600;
  justify-content: flex-end;
}

#mainKV .__stock-info .__stock dl dd .__changed .__up {
  color: #ff0000;
}

#mainKV .__stock-info .__stock dl dd .__changed .__down {
  color: #1850ff;
}

#mainKV .__stock-info .__stock .__general {
  display: grid;
  gap: 0.8888888889rem;
}

#mainKV .__stock-info .__stock .__general dl {
  display: flex;
  justify-content: space-between;
}

#mainKV .__stock-info .__stock hr {
  background: rgba(0, 0, 0, 0.15);
  height: 1px;
  margin: 1.5555555556rem 0;
}

/* ir-calendar */
#mainKV .__ir-calendar h4 {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.02em;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#mainKV .__ir-calendar .__date {
  font-size: 0.8888888889rem;
  font-weight: 700;
  margin-top: 0.375em;
  display: block;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
}

/* valuation */
#mainKV .__valuation {
  font-size: 0.88888889rem;
  line-height: 1.4;
  text-align: center;
}

#mainKV .__valuation ul {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

#mainKV .__valuation li {
  flex: 1;
}

#mainKV .__valuation li img {
  width: min(5em, 6.3333vw);
  aspect-ratio: 1 / 1;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 0 auto 0.75em;
  display: block;
}

#mainKV .__valuation li span {
  display: block;
  font-weight: 800;
  letter-spacing: -0.04em;
  margin: 0 -0.25em;
}

/* mainEsg */
#mainEsg {
  background-color: #0d2d77;
  position: relative;
  z-index: 1;
  isolation: isolate;
}

#mainEsg .visual {
  position: relative;
  height: 0;
}

#mainEsg .__bg {
  top: -3.5555555556rem;
  bottom: auto;
  height: calc(100vh + 5.5555555556rem);
  overflow: hidden;
  background-color: #0d2d77;
}

#mainEsg .__bg.__active .__item1 {
  transform: rotate(0);
  top: -15.8888888889rem;
  left: -25.0555555556rem;
}

#mainEsg .__bg .__item1 {
  width: 58.8888888889rem;
  top: -16.7222222222rem;
  left: -25rem;
  transform: rotate(-135deg);
}

#mainEsg .__bg [class*="__item"] {
  position: absolute;
  transition: 1.2s ease-in-out;
  transition-property: transform, top, left, right;
}

#mainEsg .__bg img {
  display: block;
  width: 100%;
}

#mainEsg .__bg.__active .__item2 {
  top: 26.9444444444rem;
  left: -8.2222222222rem;
  transform: rotate(0);
}

#mainEsg .__bg .__item2 {
  width: 51.8888888889rem;
  top: 46.6111111111rem;
  left: -8.6111111111rem;
  transform: rotate(-32deg);
}

#mainEsg .__bg.__active .__item3 {
  top: 14.5555555556rem;
  right: -26.9444444444rem;
}

#mainEsg .__bg .__item3 {
  width: 51.3888888889rem;
  top: 30.6666666667rem;
  right: -43.1111111111rem;
  transition-duration: 1.5s;
  transition-delay: 0.2s;
}

#mainEsg.main-section .__py {
  --pt: 5.5555555556rem;
  --pb: 5.8888888889rem;
  padding: var(--pt, 5.5555555556rem) 0 var(--pb, 5.8888888889rem);
}

@media screen and (min-width: 1025px) {
  .esg-loops {
    max-width: 36.8888888889rem;
    margin-left: auto;
  }
  .global-loops {
    max-width: 36.8888888889rem;
    margin-left: auto;
  }
}

#mainEsg .swiper {
  overflow: visible;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}

@media screen and (min-width: 1025px) {
  .esg-loops .swiper .swiper-wrapper {
    display: grid;
    gap: 0.8888888889rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1025px) {
  .esg-loops .swiper .swiper-wrapper .swiper-slide {
    height: auto;
  }
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.esg-loops .__loop-group {
  gap: 0.8888888889rem;
  display: grid;
}

.esg-loops .loop-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.6666666667rem;
  background: #0b235b;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  border-radius: clamp(26px, 4.296875vw, 2.4444444444rem);
  box-sizing: border-box;
  min-height: 19.3888888889rem;
}

.esg-loops .loop-item .__txt .__title {
  font-size: 1.7777777778rem;
  font-weight: 800;
  margin-bottom: 0.375em;
  line-height: 1.2;
}

.esg-loops .loop-item .btn-box {
  display: flex;
  align-items: center;
  gap: 0.4444444444rem;
}

.esg-loops .loop-item .btn-box .btn {
  background: rgba(255, 255, 255, 0.16);
  border: 0;
  padding: 0.6666666667rem 0.8888888889rem;
  height: auto;
  transition: 0.3s ease;
  transition-property: color, background-color;
}

.btn.__capsule {
  display: flex;
  height: 3.1111111111em;
  padding: 0 2em;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 3em;
  border: 1px solid #e5e5e5;
  background: #ffffff;
  font-weight: 700;
  transition: background 200ms, color 200ms;
}

.btn,
button {
  appearance: none;
  box-shadow: none;
  border: 0;
  background: none;
  border-radius: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
}

.esg-loops .loop-item .btn-box .btn .__label {
  gap: 0.3333333333rem;
}

.btn.__capsule .__label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4444444444em;
}

.btn.__capsule small {
  font-size: 0.8888888889em;
}

.fw--800 {
  font-weight: 800;
}

.btn.__capsule .__label svg {
  display: block;
  width: 1.1111111111em;
  aspect-ratio: 1 / 1;
}

.esg-loops .loop-item .bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.esg-loops .loop-item .bottom-box a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.16);
  transition: 0.3s ease;
  transition-property: color, background-color;
}

.esg-loops .loop-item .__icon {
  display: block;
  width: 6.8888888889rem;
  aspect-ratio: 1 / 1;
}

.esg-loops .loop-item .__icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.esg-loops .loop-item .__txt .__title {
  font-size: 1.7777777778rem;
  font-weight: 800;
  margin-bottom: 0.375em;
  line-height: 1.2;
}

.esg-loops .loop-item .__txt .__desc {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.7;
  line-height: 1.4;
}

.esg-loops .loop-item .bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.esg-loops .loop-item .__icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 1025px) {
  .esg-loops .swiper .swiper-wrapper .swiper-slide {
    height: auto;
  }
}

.esg-loops .__loop-group {
  gap: 0.8888888889rem;
  display: grid;
}

/*mainFamily*/
#mainFamily {
  position: relative;
  width: 100%;
  background: #fff;
  z-index: 3;
}

#mainFamily .__grid {
  padding: 0;
  margin-bottom: 4.4444444444rem;
}

.family-loops {
  margin: 0 -1.7777777778rem;
}

.family-loops .swiper {
  overflow: visible;
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.family-loops .swiper .swiper-slide {
  width: auto;
  height: auto;
  display: grid;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.family-loops .loop-item {
  display: grid;
  position: relative;
}

.family-loops .loop-item .__box {
  padding: 1.3333333333rem 1.7777777778rem;
  width: 17.7777777778rem;
  border-radius: 1.3333333333rem;
  display: flex;
  flex-direction: column;
  transition: background-color 300ms, color 300ms;
}

@media (hover: hover) and (pointer: fine) {
  .family-loops .loop-item .__box:hover {
    background: #1c56ff;
    color: #fff;
  }

  .family-loops .loop-item .__box:hover .__img img {
    transform: scale(1.165);
    display: block;
    width: 100%;
    transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.family-loops .loop-item .__box .__img {
  margin-bottom: 1.1111111111rem;
  border-radius: 0.7777777778rem;
  overflow: hidden;
  isolation: isolate;
}

.family-loops .loop-item .__box .__img img {
  display: block;
  width: 100%;
  transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.family-loops .loop-item .__box .__txt {
  margin-bottom: 1.3333333333rem;
  line-height: 1.4;
}

.family-loops .loop-item .__box .__txt .__cat {
  font-weight: 500;
  font-size: 0.7777777778rem;
  text-transform: uppercase;
  margin-bottom: 1.1428571429em;
  letter-spacing: 0em;
}

.family-loops .loop-item .__box .__txt .__cat span {
  display: flex;
  gap: 0.5714285714em;
  align-items: center;
}

.family-loops .loop-item .__box .__txt .__cat span:before {
  content: "";
  display: block;
  width: 0.8571428571em;
  height: 0.8571428571em;
  background: #0a31a8;
  border-radius: 50%;
}

.family-loops .loop-item .__box .__txt .__title {
  font-size: 1.2222222222rem;
  font-weight: 700;
  margin-bottom: 0.7272727273em;
  line-height: 1.3636363636em;
  letter-spacing: -0.02em;
}

.family-loops .loop-item .__box .__cta {
  margin-top: auto;
}

.family-loops .loop-item .__box .__cta .__arrow,
.family-loops .loop-item .__box .__cta span {
  width: 2.2222222222rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  aspect-ratio: 1 / 1;
  background: #f3f3f3;
  border-radius: 50%;
}

.family-loops .loop-item .__box .__cta .__arrow svg,
.family-loops .loop-item .__box .__cta span svg {
  display: block;
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  overflow: visible;
  color: #333;
}

.family-loops .loop-item:after {
  border-right: rgba(0, 0, 0, 0.05) 1px solid;
  content: "";
  position: absolute;
  right: 0;
  top: 1.3333333333rem;
  bottom: 1.3333333333rem;
}

.family-loops .swiper .swiper-slide {
  width: auto;
  height: auto;
  display: grid;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.family-loops .loop-item .__box .__cta .__arrow svg,
.family-loops .loop-item .__box .__cta span svg {
  display: block;
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  overflow: visible;
  color: #333;
}

.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

/* mainGlobal */
#mainGlobal {
  position: relative;
  background: #1c56ff;
  z-index: 2;
  min-height: 100svh;
}

#mainGlobal .__bg {
  position: absolute;
}

#mainGlobal .__earth .__obj {
  width: 47.6111111111rem;
  aspect-ratio: 1 / 1;
  position: relative;
  left: -6.6666666667rem;
  top: 15.5555555556rem;
}

#mainGlobal .__earth .__obj .__o {
  display: block;
  width: 100%;
  overflow: visible;
  position: relative;
}

#mainGlobal .__earth .__obj svg {
  width: 100%;
  overflow: visible;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#mainGlobal .swiper {
  overflow: visible;
}

@media screen and (min-width: 1025px) {
  .global-loops .swiper .swiper-wrapper {
    display: grid;
    gap: 0.8888888889rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
  }
}

@media screen and (min-width: 1025px) {
  .global-loops .swiper .swiper-wrapper .swiper-slide {
    height: auto;
  }
}

.global-loops .__loop-group {
  gap: 0.8888888889rem;
  display: grid;
}

.global-loops .loop-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: clamp(1.8rem, 1.5625vw, 4rem) clamp(2.1rem, 2.0833vw, 4.8rem);
  background: rgba(10, 49, 168, 0.9);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: clamp(26px, 4.296875vw, 2.4444444444rem);
  box-sizing: border-box;
}

.global-loops .loop-item .__title {
  font-size: 1.2222222222rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-weight: 800;
}

.global-loops .loop-item .__title img {
  display: block;
  width: 2.7777777778rem;
  aspect-ratio: 1 / 1;
  margin-bottom: 0.5555555556rem;
}

.global-loops .loop-item .__stats {
  font-size: 0.8888888889rem;
  margin-top: 1.25em;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1.25em;
  font-weight: 800;
}

.global-loops .loop-item .__stats li:first-child {
  font-weight: 700;
}

.global-loops .loop-item .__stats li {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.global-loops .loop-item .__stats li + li {
  margin-top: 1.25em;
}

.global-loops .loop-item .__stats li .__cnt {
  width: 2.1875em;
  min-width: 2.1875em;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9375em;
}

/* mainNews */
#mainNews {
  position: relative;
  background: #fcfcfc;
  z-index: 2;
  border-radius: 0 0 clamp(3.8rem, 3.3333vw, 5.8rem)
    clamp(3.8rem, 3.3333vw, 5.8rem);
  will-change: clip-path, transform, border-radius;
}

.news-loops {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.8888888889rem;
  row-gap: 3.5555555556rem;
}

.news-loops .loop-item .__img {
  margin-bottom: 1.3333333333rem;
  border-radius: clamp(12px, 2.34375vw, 1.3333333333rem);
  overflow: hidden;
  isolation: isolate;
}

.news-loops .loop-item .__img img {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.news-loops .loop-item .__txt {
  padding: 0;
  line-height: 1.4;
}

.news-loops .loop-item .__txt .__title {
  font-weight: 700;
  font-size: 1.2222222222rem;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-wrap: pretty;
  margin-bottom: 0.72727273em;
}

.news-loops .loop-item .__txt .__date {
  display: block;
  color: #666666;
  font-weight: 600;
  font-size: 0.8888888889rem;
  line-height: 1.6;
  letter-spacing: -0.02em;
}

/* mainNotice */
#mainNotice {
  position: relative;
  z-index: 1;
}

#mainNotice .__bg {
  background-image: url(../img/main/bg-notice.jpg);
  top: -3.5555555556rem;
}

#mainNotice .__bg:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

#mainNotice .__links a {
  flex: 1;
  min-height: 16.6666666667rem;
  background: #fff;
  border-radius: clamp(2rem, 4.296875vw, 2.4444444444rem);
  padding: 2.2222222222rem 1.7777777778rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#mainNotice .__links a h5 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.3333333333em;
}

#mainNotice .__links a p {
  color: #666666;
  font-size: 1rem;
  margin-bottom: 1.3333333333em;
}

@media (hover: hover) and (pointer: fine) {
  #mainNotice .__links a i {
    transition: background-color 200ms, color 200ms;
  }
}

#mainNotice .__links a i {
  margin-top: auto;
  margin-left: auto;
  width: 2.7777777778rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  color: #333333;
}

#mainNotice .__links a i svg {
  display: block;
  width: 1.1111111111rem;
  overflow: visible;
}

#mainNotice .__links {
  display: flex;
  gap: 0.8888888889rem;
}
